S3method("*",mpoly)
S3method("*",mpolyList)
S3method("==",mpoly)
S3method("^",mpoly)
export("+.mpoly")
export("+.mpolyList")
export("-.mpoly")
export("-.mpolyList")
export(LCM)
export(as.function.mpoly)
export(as.function.mpolyList)
export(as.mpoly)
export(burst)
export(deriv.mpoly)
export(gradient)
export(grobner)
export(insert)
export(is.mpoly)
export(is.mpolyList)
export(is.wholenumber)
export(mp)
export(mpoly)
export(mpolyList)
export(partitions)
export(permutations)
export(print.mpoly)
export(print.mpolyList)
export(reorder.mpoly)
export(terms.mpoly)
export(tuples)
export(vars)
import(partitions)
import(plyr)
import(rJava)
import(rJython)
import(rSymPy)
import(rjson)
import(stringr)
